# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
instance/
*.db
*.sqlite3

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# Logs and OS files
logs/
*.log
.DS_Store
Thumbs.db
